<!DOCTYPE html>
<html>
<head>
    <title>Exoplanet Network Data Center - Space Edition</title>
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="background-container">
        <nav>
            <a href="../index.html">
                <img src="../../static/imgs/nasa_spacearc.gif" alt="logo" style="width: 170px; margin-left: -5em;">
                <!-- <img src="../static/imgs/exoWebAi_logo.PNG" alt="logo" style="width: 130px"> -->
            </a>
            <div class="nav-links">
                <ul>
                    <li><a href="../../index.html">HOME</a></li>
                    <li><a href="../../index.html#objective">OUR OBJECTIVE</a></li>
                    <li><a href="../../index.html#how_it_works">HOW IT WORKS</a></li>
                    <li><a href="#" style="color:cornflowerblue;">client_username</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="section_container">
        <h2>More info</h2>
        <div id="data-info">
            <div id="table-container">
                <table id="my-table">
                    <thead>
                        <tr>
                            <th>dec</th>
                            <th>koi_disposition</th>
                            <th>koi_fpflag_co</th>
                             <th>koi_fpflag_nt</th>
                             <th>koi_fpflag_ss</th>
                             <th>koi_impact</th>
                             <th>koi_model_snr</th>
                             <th>koi_score</th>
                             <th>koi_slogg</th>
                             <th>koi_steff</th>
                             <th>Probability</th>
                             <th>ra</th>
                            <th>Source</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Data rows will be added here -->
                        <tr>
                            <td>39.789291</td>
                            <td>CANDIDATE</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0.511</td>
                            <td>32.9</td>
                            <td>0.0</td>
                            <td>4.077</td>
                            <td>10346.0</td>
                            <td>0.0</td>
                            <td>294.20782</td>
                            <td>Toulouse Obs.</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>

        <h2>Term definition</h2>
        <div id="info_meaning">
            <div class="info-row">
                <div>
                    <h3>dec (Declination)</h3>
                    <div>
                        The celestial coordinate that specifies the north-south position of a star in the sky is called "declination". 
                        It is measured in degrees and is analogous to latitude on Earth's surface.
                    </div>
                </div>
                <div>
                    <h3>koi_disposition</h3>
                    <div>
                        This is our target variable, meaning the prediction of our model. 
                        This variable contains the three categories that the input planet may fall under, which are: Confirmed, Candidate, and False Positive.
                    </div>
                </div>
                <div>
                    <h3>koi_fpflag_co</h3>
                    <div>
                        A flag indicating that the observed signal source is likely a nearby star, 
                        inferred from centroid measurements during and outside of transit or by comparing the transit signal strength in different regions of the target's pixels.
                    </div>
                </div>
                <div>
                    <h3>koi_fpflag_nt</h3>
                    <div>
                        A flag indicating if a Kepler Object of Interest (KOI) exhibits a light curve inconsistent with that of a transiting planet, potentially due to instrument artifacts, 
                        non-eclipsing variable stars, spurious detections, or other factors.
                    </div>
                </div>
                <div>
                    <h3>koi_fpflag_ss</h3>
                    <div>
                        A flag identifying a Kepler Object of Interest (KOI) that shows significant secondary events, unusual transit shapes, or out-of-eclipse variability, 
                        often suggesting the possibility of an eclipsing binary system or, in some cases, a self-luminous, hot Jupiter with a visible secondary eclipse.
                    </div>
                </div>
                <div>
                    <h3>koi_impact</h3>
                    <div>
                        A measurement of the sky-projected distance between the center of the star's disc and the center of the planet's disc at conjunction, normalized by the stellar radius. 
                        It informs us about the impact parameter of a transit event.
                    </div>
                </div>
                <div>
                    <h3>koi_model_snr (Transit Signal-to-Noise-Ratio)</h3>
                    <div>
                        A metric representing the signal-to-noise ratio of a transit event, calculated by normalizing the transit depth by the mean uncertainty in the flux during the transits. 
                        It assesses the significance of transit signals.
                    </div>
                </div>
            </div>
            <div class="info-row">
                <div>
                    <h3>koi_score</h3>
                    <div>
                        A value ranging from 0 to 1 that represents the confidence level in the disposition of a KOI. 
                        Higher scores indicate greater confidence in a KOI as a candidate for further study, while lower scores suggest lower confidence, especially for potential false positives.
                    </div>
                </div>
                <div>
                    <h3>koi_slogg (Stellar Surface Gravity)</h3>
                    <div>
                        The base-10 logarithm of the surface gravity of the star, expressed in cm/s^2.
                    </div>
                </div>
                <div>
                    <h3>koi_steff (Stellar Effective Temperature)</h3>
                    <div>
                        The photospheric temperature of the star, measured in Kelvin, characterizes the star's surface temperature.
                    </div>
                </div>
                <div>
                    <h3>probability</h3>
                    <div>
                        It represents the confidence level in the accuracy of the selected data. To retrain our model, we typically choose data with a probability threshold of 0.75 or higher to ensure high certainty.
                    </div>
                </div>
                <div>
                    <h3>ra (Right Ascension)</h3>
                    <div>
                        The celestial coordinate that specifies the east-west position of a star in the sky, measured in degrees, serving as the astronomical equivalent of longitude. 
                        It helps locate and track celestial objects as they appear to move due to Earth's rotation.
                    </div>
                </div>
                <div>
                    <h3>source</h3>
                    <div>
                        The name of the original client that sent the data.
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ------------------------- footer ------------------------- -->
<footer style="background-color: rgb(50, 50, 63);">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Links</h4>
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../index.html#about">About</a></li>
                    <li><a href="../../index.html#more_info">More info</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Nasa challenge</h4>
                <ul>
                    <li><a href="https://www.spaceappschallenge.org/">Home page</a></li>
                    <li><a href="https://www.spaceappschallenge.org/2023/">2023 challenge home page</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Our project</h4>
                <ul>
                    <li><a href="https://www.spaceappschallenge.org/2023/find-a-team/spacearc/">Our team</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Our socials</h4>
                <div class="contacts">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<button id="scrollTopButton" onclick="scrollToTop()">
    <div class="button-content">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
    </div>
</button>
</body>
</html>

<!--scroll to table-->
<script>
    // -------------- function to scroll to table --------------
    function scrollToTable() {
        const tableContainer = document.getElementById('data-container');
        
        // Use scrollIntoView to scroll to the table container smoothly
        tableContainer.scrollIntoView({ behavior: 'smooth' });
    }

    // -------------- Function to scroll to the top of the page --------------
    function scrollToTop() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    }

    // Show/hide the button based on scrolling
    window.onscroll = function () {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("scrollTopButton").style.display = "block";
        } else {
            document.getElementById("scrollTopButton").style.display = "none";
        }
    };
</script>